body {
  background: #e0ebf0;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

.heading {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.input {
  background: white;
  outline: 0px !important;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease-out;
}

.input:focus,
.input:active,
.form-control:focus {
  outline: 0px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.icon {
  position: relative;
  top: -50px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  fill: orange;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
